:root,
:root[theme-mode="light"], .theme-light{
	--color-brand-0: #f1f6ff;
	--color-brand-1: #dbe8ff;
	--color-brand-2: #b7ceff;
	--color-brand-3: #93b1ff;
	--color-brand-4: #6e92ff;
	--color-brand-5: #4a70ff;
	--color-brand-6: #3856db;
	--color-brand-7: #293eb6;
	--color-brand-8: #1c2a92;
	--color-brand-9: #1c2a92;
	--color-blue-0: #ecf9ff;
	--color-blue-1: #d0efff;
	--color-blue-2: #a1ddff;
	--color-blue-3: #72c7ff;
	--color-blue-4: #43aeff;
	--color-blue-5: #1492ff;
	--color-blue-6: #1075db;
	--color-blue-7: #0b5bb6;
	--color-blue-8: #084492;
	--color-blue-9: #052f6d;
	--color-green-0: #e6f8ef;
	--color-green-1: #c0ebd7;
	--color-green-2: #8cdebb;
	--color-green-3: #5ed1a3;
	--color-green-4: #34c48f;
	--color-green-5: #0fb87f;
	--color-green-6: #0b9d72;
	--color-green-7: #088362;
	--color-green-8: #066952;
	--color-green-9: #044f40;
	--color-orange-0: #fff8f0;
	--color-orange-1: #ffebda;
	--color-orange-2: #ffd5b5;
	--color-orange-3: #ffbc8f;
	--color-orange-4: #ffa16a;
	--color-orange-5: #ff8345;
	--color-orange-6: #db6634;
	--color-orange-7: #b64d26;
	--color-orange-8: #92361a;
	--color-orange-9: #6d2310;
	--color-red-0: #fef3f1;
	--color-red-1: #fde0dc;
	--color-red-2: #fbbfb9;
	--color-red-3: #fa9c97;
	--color-red-4: #f97875;
	--color-red-5: #f75559;
	--color-red-6: #d44047;
	--color-red-7: #b12f3a;
	--color-red-8: #8d202d;
	--color-red-9: #6a1421;
	--color-gray-0: #f7f8fa;
	--color-gray-1: #f4f5f7;
	--color-gray-2: #eceef1;
	--color-gray-3: #e0e2e7;
	--color-gray-4: #cdd0d9;
	--color-gray-5: #b4b8c4;
	--color-gray-6: #979baa;
	--color-gray-7: #777c8d;
	--color-gray-8: #5b5f70;
	--color-gray-9: #434756;
	--color-gray-10: #313441;
	--color-gray-11: #232530;
	--color-gray-12: #191b23;
	--color-gray-13: #121319;
	--color-opacity-0: rgba(54,79,129,0.04);
	--color-opacity-1: rgba(36,56,97,0.05);
	--color-opacity-2: rgba(18,42,79,0.08);
	--color-opacity-3: rgba(17,32,70,0.13);
	--color-opacity-4: rgba(6,21,66,0.20);
	--color-opacity-5: rgba(5,18,56,0.30);
	--color-opacity-6: rgba(1,11,50,0.41);
	--color-opacity-7: rgba(3,12,43,0.54);
	--color-opacity-8: rgba(3,10,38,0.65);
	--color-opacity-9: rgba(1,7,30,0.74);
	--color-opacity-10: rgba(1,4,19,0.81);
	--color-opacity-11: rgba(2,4,18,0.87);
	--color-opacity-12: rgba(2,4,13,0.91);
	--color-opacity-13: rgba(0,1,10,0.93);
	--color-white: #ffffff;
	--white: #ffffff;
	--color-black: #000000;
	--black: #000000;
	--color-primary-normal: #4a70ff;
	--color-primary-hover: #3856db;
	--color-primary-active: #293eb6;
	--color-primary-focus: #93b1ff;
	--color-primary-disable: #b7ceff;
	--color-primary-light-normal: #f1f6ff;
	--color-primary-light-hover: #dbe8ff;
	--color-primary-light-active: #b7ceff;
	--color-text-primary: rgba(0,1,10,0.93);
	--color-text-secondary: rgba(3,10,38,0.65);
	--color-text-caption: rgba(1,11,50,0.41);
	--color-text-disable: rgba(6,21,66,0.20);
	--color-text-white: #ffffff;
	--color-text-black: #000000;
	--color-border-normal: rgba(17,32,70,0.13);
	--color-border-hover: rgba(6,21,66,0.20);
	--color-border-active: #dbe8ff;
	--color-border-disable: rgba(18,42,79,0.08);
	--color-divider-normal: rgba(18,42,79,0.08);
	--color-fill-normal: #ffffff;
	--color-fill-hover: rgba(36,56,97,0.05);
	--color-fill-active: #f1f6ff;
	--color-fill-disable: rgba(54,79,129,0.04);
	--color-bg-0: #ffffff;
	--color-bg-1: #ffffff;
	--color-bg-2: #ffffff;
	--color-bg-contrast: #f7f8fa;
	--color-overlay: rgba(18,19,25,0.32);
	--color-link-normal: #4a70ff;
	--color-link-hover: #3856db;
	--color-link-active: #293eb6;
	--color-link-visited: #6e92ff;
	--color-highlight-search: #4a70ff;
	--color-prompt-normal: #1492ff;
	--color-prompt-hover: #1075db;
	--color-prompt-active: #0b5bb6;
	--color-prompt-disable: #a1ddff;
	--color-prompt-light-normal: #ecf9ff;
	--color-prompt-light-hover: #d0efff;
	--color-prompt-light-active: #a1ddff;
	--color-prompt-text: #052f6d;
	--color-success-normal: #0fb87f;
	--color-success-hover: #0b9d72;
	--color-success-active: #088362;
	--color-success-disable: #8cdebb;
	--color-success-light-normal: #e6f8ef;
	--color-success-light-hover: #c0ebd7;
	--color-success-light-active: #8cdebb;
	--color-success-text: #044f40;
	--color-warning-normal: #ff8345;
	--color-warning-hover: #db6634;
	--color-warning-active: #b64d26;
	--color-warning-disable: #ffd5b5;
	--color-warning-light-normal: #fff8f0;
	--color-warning-light-hover: #ffebda;
	--color-warning-light-active: #ffd5b5;
	--color-warning-text: #6d2310;
	--color-error-normal: #f75559;
	--color-error-hover: #d44047;
	--color-error-active: #b12f3a;
	--color-error-disable: #fbbfb9;
	--color-error-light-normal: #fef3f1;
	--color-error-light-hover: #fde0dc;
	--color-error-light-active: #fbbfb9;
	--color-error-text: #6a1421;
	--shadow-small: 0px 2px 4px 0px #12131914,0px 0px 2px 0px #12131914,0px 0px 1px 0px #12131914;
	--shadow-medium: 0px 6px 12px 0px #1213191f,0px 0px 4px 0px #12131914,0px 0px 1px 0px #12131914;
	--shadow-large: 0px 0px 1px 0px #12131914,0px 0px 8px 0px #12131914,0px 16px 32px 0px #12131929;
	--shadow-small-light: 0px 0px 1px 0px #12131914,0px 0px 6px 0px #12131905,0px 2px 12px 0px #1213190f;
	--fontFamilies-pingfang-sc: PingFang SC;
	--lineHeights-0: 32px;
	--lineHeights-1: 28px;
	--lineHeights-2: 24px;
	--lineHeights-3: 20px;
	--lineHeights-4: 16px;
	--fontWeights-pingfang-sc-0: Semibold;
	--fontWeights-pingfang-sc-1: Regular;
	--fontWeights-pingfang-sc-2: Medium;
	--fontSize-0: 12px;
	--fontSize-1: 14px;
	--fontSize-2: 16px;
	--fontSize-3: 20px;
	--fontSize-4: 24px;
	--letterSpacing-0: 0px;
	--paragraphSpacing-0: 0px;
	--headline-bold: var(pingfang-sc-0) var(4)/var(0) var(pingfang-sc);
	--title-bold: var(pingfang-sc-0) var(3)/var(1) var(pingfang-sc);
	--subtitle-regular: var(pingfang-sc-1) var(2)/var(2) var(pingfang-sc);
	--body-regular: var(pingfang-sc-1) var(1)/var(3) var(pingfang-sc);
	--body-medium: var(pingfang-sc-2) var(1)/var(3) var(pingfang-sc);
	--caption-regular: var(pingfang-sc-1) var(0)/var(4) var(pingfang-sc);
	--caption-medium: var(pingfang-sc-2) var(0)/var(4) var(pingfang-sc);
	--textCase-none: none;
	--textDecoration-none: none;
	--paragraphIndent-0: 0px;
}
